{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Document Settings -->

		<meta charset="utf-8" />
		<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="" />
		<meta name="description" content="" />

		<!-- Favicon -->
		<link rel="icon" type="image/png" href="static/img/favicon.ico ">

		<!-- Page Title -->
		<title>Moinokov Kanai - Фото Портфолио</title>

		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,400italic,600,700,900,200' rel='stylesheet' type='text/css'>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="static/css/bootstrap.css ">

		<!-- Custom css file -->
		<link rel="stylesheet" href="static/css/style.css ">

		<!-- Plugins -->
		<link rel="stylesheet" href="static/css/jquery.fullPage.css ">
		<link rel="stylesheet" href="static/css/font-awesome.min.css ">
		<link rel="stylesheet" href="static/css/photoswipe.css ">
		<link rel="stylesheet" href="static/css/default-skin/default-skin.css ">
		<link rel="stylesheet" href="static/css/animate.css ">

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
	</head>
	<body>

		<!-- Container -->
			<main class="container">

			<!-- Mobile Menu -->		
				<div class="mobile-menu-overlay transition">
					<div class="mobile-menu">
						<i class="fa fa-times fa-2x"></i>
					</div>
					<ul class="mobile-menu-content">
						<li class="mobile-menu-item">
							<a href="#" class="dropdown">home</a>
							<ul class="mobile-submenu">
				                <li><a href="index.html">Home 1</a></li>
				            </ul>
						</li>
						<li class="mobile-menu-item">
							<a href="#" class="dropdown">blog</a>
							<ul class="mobile-submenu">
				            </ul>
						</li>
						<li class="mobile-menu-item">
							<a href="#" class="dropdown">gallery</a>
							<ul class="mobile-submenu">
				                <li><a href="portfolio/gallery-2col.html">2 column</a></li>
				                <li><a href="portfolio/gallery-3col.html">3 column</a></li>
				            </ul>
						</li>
						<li class="mobile-menu-item">
							<a href="portfolio/about.html">about me</a>
						</li>
						<li class="mobile-menu-item">
							<a href="portfolio/contact.html">contact</a>
						</li>
					</ul>
				</div>
			<!-- /Mobile Menu -->

			<!-- Header -->
				<header class="transition header fixed">
					<div class="main-menu">
						<div id="logo">
							<a href="index.html">
								<img src="static/img/logo.png " alt="alex-zane-logo">
							</a>
						</div>
					<!-- Menu -->
						<nav id="menu" class="col-md-10 col-sm-10">
							<ul class="hidden-xs">
							<li><a class="menu-active" href="#">Home</a>
							<!-- Drop Down -->
								<ul>
					                <li><a href="index.html">Home 1</a></li>
					            </ul>
							</li>
								<!-- Drop Down -->
									<ul>
						                <li><a href="index.html">Home 1</a></li>
						            </ul>

								<li><a href="#">Blog</a>
								<!-- Drop Down -->
									<ul>
						                <li><a href="portfolio/blog-post.html">Single Post</a></li>
						            </ul> 
								</li>
								<li><a href="#">Gallery</a>
								<!-- Drop Down -->
									<ul>
						                <li><a href="portfolio/gallery-2col.html">2 column</a></li>
						                <li><a href="portfolio/gallery-3col.html">3 column</a></li>
						            </ul>
								</li>
								<li><a href="portfolio/about.html">About Me</a></li>
								<li><a href="portfolio/contact.html">Contact</a></li>
							</ul>
							<div class="mobile-menu col-xs-2 pull-right visible-xs">
								<i class="fa fa-bars fa-2x"></i>
							</div>     
						</nav>
					<!-- /Menu -->

					</div>
				</header>
			<!-- /Header -->
				{% block content %}
			<!-- Content -->
				<section class="content fullpage transition">

				<!-- Section One -->
					<section class="section" id="section2-v2">
					  <div class="darker medium"></div>
					  <div class="border">
						<div class="frames">
						</div>
						<div class="corners">
							<img src="{% static 'img/home/kana.jpg' %}" alt="image-category">
						</div>
					  </div>
					  <div class="cover-titles-2 ">
						<div class="right-block col-md-8 col-sm-8 col-xs-12">
						  <img src="{% static 'img/home/kana2.jpg' %}" alt="image-category">
						</div>
						<div class="left-block col-md-4 col-sm-4 col-xs-12 align-right">
						  <p>biography</p>
						  <h1 class="title">HI, I AM KANA</h1>
						  <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
						</div>
					  </div>
					  <div class="enter-category col-md-12">
						<a href="gallery-2col.html" class="btn">
						  <span>УЗНАТЬ БОЛЬШЕ</span>
						  <i class="fa fa-arrow-right"></i>
						</a>
					  </div>
					</section>
				<!-- /Section One -->

				<!-- Section Two -->			
					<section class="section" id="section2">
					<div class="darker"></div>
					<div class="border">
						<div class="frames">
	                	</div>
						<div class="corners">
							<img src="{% static 'img/home/kana.jpg' %}" alt="image-category">

		                </div>
					</div>
						<div class="cover-titles">
							<div class="align-left">	
								<p>My works</p>
								<h1 class="title">I'm not a pro</h1>
								<p>Python</p>
								<a href="portfolio/gallery-3col.html" class="btn">
									<span>УЗНАТЬ БОЛЬШЕ</span>
									<i class="fa fa-arrow-right"></i>
								</a>									
							</div>
						</div>			
					</section>
				<!-- /Section Two -->

				<!-- Section Three -->
					<section class="section" id="section3">
					<div class="darker"></div>
					<div class="border">
						<div class="frames">
		                    <div></div>
		                    <div></div>
		                    <div></div>
		                    <div></div>
	                	</div>
						<div class="corners">
							<img src="{% static 'img/home/kana.jpg' %}" alt="image-category">

		                </div>
					</div>
						<div class="cover-titles">
							<div class="align-left">	
								<p>awesome</p>				
								<h1 class="title">category</h1>
								<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
								<a href="portfolio/gallery-3col.html" class="btn">
									<span>УЗНАТЬ БОЛЬШЕ</span>
									<i class="fa fa-arrow-right"></i>
								</a>
							</div>
						</div>			
					</section>
				<!-- /Section Three -->

				<!-- Section Four -->
					<section class="section" id="section4">
					<div class="darker"></div>
					<div class="border">
						<div class="frames">
		                    <div></div>
		                    <div></div>
		                    <div></div>
		                    <div></div>
	                	</div>
						<div class="corners">
							<img src="{% static 'img/home/kana.jpg' %}" alt="image-category">

		                </div>
					</div>
						<div class="cover-titles">
							<div class="align-left">	
								<p>best</p>				
								<h1 class="title">category</h1>
								<p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary</p>
								<a href="portfolio/gallery-2col.html" class="btn">
									<span>УЗНАТЬ БОЛЬШЕ</span>
									<i class="fa fa-arrow-right"></i>
								</a>									
							</div>
						</div>		
					</section>
				<!-- /Section Four -->

				</section>
			<!-- /Content -->
				{% endblock %}
			<!-- Footer -->
				<footer id="footer" class="fixed white">
					<p>© Moinokov Kanai 2020. Python</p>
				</footer>
			<!-- /Footer -->

			</main>
		<!-- /Container -->

	<!-- JS -->

		<!-- jquery-1.11.3.min js -->
			<script type="text/javascript" src="static/js/jquery-1.11.3.min.js "></script>

		<!-- Plugins -->
			<script type="text/javascript" src="static/js/jquery.fullPage.min.js "></script>
			<script type="text/javascript" src="static/js/imagesloaded.min.js "></script>
			<script type="text/javascript" src="static/js/masonry.min.js "></script>
			<script type="text/javascript" src="static/js/website-smooth-scroll.js "></script>
			<script type="text/javascript" src="static/js/photoswipe.min.js "></script>
			<script type="text/javascript" src="static/js/photoswipe-ui-default.min.js "></script>

		<!-- Main js -->
			<script src="static/js/main.js "></script>
	</body>
</html>









